#top{
  width:800px;
  background-color:#dcc9f4;
  padding:20px 0;
  text-align:center;
  display:block;
}

.top-child{
  display:inline;
  width:20%;
  background-color:#ffd9df;
}

#middle{
  width:800px;
  hight:800px;
  margin:20px 0;
  text-align:center;
  background-color:#ffd9df;
  position:relative;
}

#middle-child01,#middle-child02,#middle-child033{
  width:200px;
  hight:200px;
  background-color:#87ceeb;
}

#middlr-child01{
  position:absolute;
  top:100px;
  left:100px;
}
  
#middlr-child02{
  position:absolute;
  top:300px;
  left:300px;
}

#middlr-child03{
  position:rabsolute;
  top:500px;
  left:500px;
}


#bottom{
  width:800px;
  hight:300px;
  text-align:center;
  background-color:#87ceeb;
}

#bottom-child01,#bottom-child02,#bottom-child03{
  wigth:400px;
  hight:100px;
  background-color:#e5dcf0;
}
